main .index {
  position: relative;
}

.popUp {
  height: 50vh;
  position: fixed;
  width: 50vw;
  top: 5em;
  left: 7em;
  border: 2px solid #000000;
  background-color: $main-color;
  border-radius: 57px;

  span {
    margin-left: 5em;
    color: $secondary-color;
  }

  button {
    position: absolute;
    top: 22em;
    left: 2em;
    padding: 1.8em;
    background-color: #fff;
    border: none;
    border-radius: 50%;
  }

  button:last-of-type {
    left: 9.6em;
  }
}
