main.profile{

    background: rgb(255,255,255);
    background: linear-gradient(153deg, rgba(255,255,255,1) 44%, rgba(0,100,254,1) 44%);
    height: 100vh;

    section.container{
        section.profile-container{
            div.user{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div.profile-img{
                    background: black;
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                h2{
                    text-align: center;
                }
            }
        }
    }
}
