main.register{

    margin: 34px;

        a{
            display: block;
            width: 50px;
            
            img{
                width: 50px;
            }
        }
    

    h1{
        font-family: 'Segoe UI';
        text-align: center;
        font-weight: 400;
    }


}