main.register{

    margin: 34px;

        a{
            display: block;
            width: 50px;
            
            img{
                width: 50px;
            }
        }
    

    h1{
        text-align: center;
        font-weight: 400;
    }

    #error {
        display: block;
        margin-top: 0.5em;
    }
    
    .errormelding {
        background-color: crimson;
        border-radius: 0.5em;
        color: white;
        padding: 0.7em;
        font-weight: 900;
    }

    .foute-input {
        border: 1px solid red;
    }

}