main.start{
    background-color: $main-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 80px;
    overflow: hidden;

    div.welcome{

        h1.welcome-message{
            color: white;
            font-family: 'Segoe UI';
            font-weight: 100;
            text-align: center;
            width: 41%;
            margin: auto;
        }

        h2{
            color: white;
            font-family: 'Segoe UI';
            font-weight: 100;
            text-align: center;
        }
    }

    section.container{
        background-color: white;
        height: 60%;
        width: 100%;
        border-radius: 57px 57px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        opacity: 1;
        transition: 0.4s;


        section.options{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            transition: 0.4s;

            &.move{
                // opacity: 0;
                // display: none;
                transform: translateX(1010px);
                
            }

            a{
                color: white;
                background-color: $main-color;
                font-family: 'Segoe UI';
                padding: 20px;
                margin: 10px;
                border-radius: 5px;
                text-align: center;
                min-width: 300px;
                
            }
        }

        section.signup{

            transform: translateX(-1010px);
            position: absolute;
            transition: 0.4s;
            width: 86%;
            bottom: 170px;

            &.move-signup{
                transform: translateX(25px);
            }

            form.signup-form{
                width: 100%;

            }

            a{
                font-family: 'Segoe UI';
                text-align: center;
                display: flex;
                justify-content: center;
                color: $main-color;
                font-size: 1.2em;
                margin-top: 10px;
            }
        }

        p{
            color: #00000085;
            font-family: 'Segoe UI';
            font-size: 0.9em;
            text-align: center;
        }
    }
}