<body class="errorpage">
    <section class="errorsection">
    <img class="imgerror" alt="404icon" src="https://i.postimg.cc/QxX4NMzJ/error-404.png">
    <h1 class="errortext">Deze pagina bestaat niet!</h1>
    </section>
</body> 