<main class="index">
    <section class="container">
        <section class="user-container">
            {{#each usergoals}}
                <div class="user">
                    <div class="user-img"></div>
                    <span>{{user.firstname}}</span>
                </div>
            {{/each}}
        </section>
    </section>

    <div class="filter-button">
        <img class="filter-icon" src="/public/assets/icons/filter.svg" alt="">
    </div>
</main>