<main class="profile">
    <a href="/userindex">
        <img class="icon" src="/public/assets/icons/back.svg" alt="">
    </a>

    <section>
            {{#if picture }}
                <img src="/public/uploads/{{picture}}" alt="">
            {{/if}}
        <h2>Hello {{firstname}} welcome to your profile!</h2>
        <button>Update profile</button>
    </section>

</main>