<main class="profile">
    <a href="/userindex">
        <img class="icon" src="/public/assets/icons/back.svg" alt="">
    </a>

    <section>
        <img src="../public/uploads/{{info.picture}}">
        <h2>Hello {{info.firstname}} welcome to your profile!</h2>
        <button>Update profile</button>
    </section>

</main>