<main class="start">
    <div class="welcome">
        <h1 class="welcome-message">Welcome to fitbud</h1>
        <h2>Discover your fitness buddy</h2>
    </div>

    <section class="container">
        <section class="options">
            <a href="/register">Create an account</a>
            <a href="#" id="secondary">Sign In</a>
        </section>
        <section class="signup">

            <form class="signup-form" action="">

                <label class="mobile-register" for="email">Email:</label><br>
                <input type="email" name="email" placeholder="Email" required><br>

                <label class="mobile-register" for="password">Password:</label><br>
                <input type="text" name="password" placeholder="Password" required><br>
                <input type="submit" value="Sign in">

            </form>
            <a href="/register">Register</a>
        </section>
        <p>By signing up you agree to our Privacy Policy and Terms</p>
    </section>
</main>