<main class="index">

    <nav>
        <menu>
            <li><button class="settings-button">A</button></li>
        </menu>
    </nav>

    <section class="container">

        <section class="user-container">

            {{#each users}}
                <div class="user">
                    <div class="user-img"></div>
                    <span>{{firstname}}</span>
                </div>
            {{/each}}
            
        </section>
    </section>

    <form class="pop-up-form" class="pop-up-function">
        <p>What kind of Fitbuddies are you looking for?</p>
        
        <div class="radio-button">
            <input type="radio" id="cardio" name="preference" value="cardio"/>
            <label for="cardio">Cardio</label>
        </div>

        <div class="radio-button">
            <input type="radio" id="weightloss" name="preference" value="weightloss"/>
            <label for="weightloss">Weightloss</label>
        </div>

        <div class="radio-button">
            <input type="radio" id="muscle-gain" name="preference" value="muscle-gain"/>
            <label for="muscle-gain">Muscle gain</label>
        </div>

        <div class="radio-button">
            <input type="radio" id="mobility" name="preference" value="mobility"/>
            <label for="mobility">Mobility</label>
        </div>

        <div class="radio-button">
            <input type="radio" id="flexibility" name="preference" value="flexibility"/>
            <label for="flexibility">Flexibility</label>
        </div>

        <div class="radio-button">
            <input type="radio" id="strength-gain" name="preference" value="strength-gain"/>
            <label for="strength-gain">Strength gain</label>
        </div>

        <div>
            <input class="save-button" type="submit" value="Save"/>
        </div>
    </form>

</main>