<main class="index">
    <section class="container">
        <section class="user-container">
            {{#each users}}
                <div class="user">
                    <div class="user-img"></div>
                    <span>{{firstname}}</span>
                </div>
            {{/each}}
            
        </section>
    </section>
</main>